body {
  background-color: gray;
}

head {

}

h1 {
  font-family: Helvetica;
  font-size: 60px; 
}

footer {
  font-family: Helvetica;
  font-size: 60px;
  justify: center;
  margin-bottom: 20px;
  color: black;
}

p {
  font-family: Helvetica;
  font-size: 20px;
}
