body {
  background-image: url("https://lh3.googleusercontent.com/iwzpwhlCazku4uwyHZLkoDEdivY33GqaZ_mQq7nHA7oVRhE3XfB_jTQ2_iT6AI2na2t5SyNu3lU_kxZV8gd5H4yze_aQJx9G3umvIMc6p3KZH-Aly4bpAWddXWhW8W7C17OqENnaFjo=w2400");
}

head {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(160px, 1fr));
}

h1 {
  font-family: Helvetica;
  font-size: 60px; 
}

footer {
  font-family: Helvetica;
  font-size: 60px;
  justify: center;
  margin-bottom: 20px;
  color: black;
}

p {
  font-family: Helvetica;
  font-size: 20px;
}
