
h1 {
  font-family: HelvLight;
  font-size: 36px; 
}

p {
  font-family: HelvLight;
  font-size: 24px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.photo {
  grid-column-start: 1;
  grid-column-start: span 1;
}

.intro {
  grid-column-start: 2;
  grid-column-start: span 1;
  font-color: dark gray;
}
